/******************************/
/*      GLOBAL STYLES      */
/******************************/
ul.messages {
    position: fixed;
    bottom: 0;
    list-style: none;
}


/******************************/
/*      MESSAGING STYLES      */
/******************************/
#conversation-list, #messages-list {
    height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
}

#conversation-list:hover body, #messages-list:hover body {
    overflow: hidden;
}

.message-box {
    max-width: 50%;
    border: 1px solid #000;
    border-radius: 5px;
}

@media (max-width: 719px) { 
    .message-box {
        max-width: 75%;
    }
}

@media (max-width: 575px) { 
    .message-box {
        max-width: 90%;
    }
}
