/******************************/
/*      GLOBAL STYLES      */
/******************************/
ul.messages {
    position: fixed;
    bottom: 0;
    list-style: none;
}


/******************************/
/*      USER STYLES      */
/******************************/
.btn-profile-dc, .btn-profile-pwd {
    width: 60%;
}


/******************************/
/*      MESSAGING STYLES      */
/******************************/
#conversation-list, #messages-list {
    height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
}

#conversation-list:hover body, #messages-list:hover body {
    overflow: hidden;
}

.unread-message-icon {
    position: absolute;
    right: 0;
}

.message-box {
    max-width: 50%;
    border-radius: 5px;
    background-color: #d8dce1;
}

.message-received {
    line-height: 1;
    position: absolute;
    bottom: 2px;
    right: 2px;
}


/******************************/
/*      MISSION STYLES        */
/******************************/
.missions-list, .mission-applicants-list {
    height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
}

.mission-applicants-list {
    height: 250px;
}

.missions-list:hover body, .mission-applicants-list:hover body {
    overflow: hidden;
}

.mission-details-container, .mission-applicants-container {
    width: 75%;
}


/******************************/
/*        RESPONSIVE          */
/******************************/
@media (max-width: 991px) {
    /***** USER *****/
    .btn-profile-dc, .btn-profile-pwd {
        width: 80%;
    }
}

@media (max-width: 719px) {
    /***** USER *****/
    .profile-label {
        text-align: left !important;
    }

    .profile-value {
        text-align: right !important;
    }

    /***** MESSAGING *****/
    .message-box {
        max-width: 75%;
    }

    /***** MISSION *****/
    .mission-details-container {
        width: 90%;
    }
}

@media (max-width: 575px) {
    /***** USER *****/
    .btn-profile-dc, .btn-profile-pwd {
        width: 100%;
    }

    /***** MESSAGING *****/
    .message-box {
        max-width: 90%;
    }
}
