<!-- USER PASSWORD RESET -->

{% extends 'user/index.html' %}

{% block section_content %}

    <div class="row">
        <div class="col-md-12 text-center mb-2">
            <h3>Nouveau mot de passe</h3>
        </div>
    </div>

    <br/>

    {% if reset_message %}
        <div class="row">
            <div class="col-md-12 mb-4">
                {{ reset_message }}
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-12 mb-4">
                {% include 'user/includes/form.html' %}
            </div>
        </div>
    {% endif %}

{% endblock section_content %}
