<!-- MISSION FORM - CREATE-MISSION -->

{% if errors %}
    <div style="color: red;">
        {% for key, error in errors %}
            {% autoescape off %}
                {{ error }}
            {% endautoescape %}
        {% endfor %}
    </div>
{% elif not errors and form.errors %}
    <div style="color: red;">
        {% autoescape off %}
            {{ form.errors }}
        {% endautoescape %}
    </div>
{% else %}    
    <div class="form-errors" style="color: red;">
    </div>
{% endif %}

<form id="{{ form_id }}" action="{% url form_action %}" method="POST">
    {% csrf_token %}

    {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
              <div class="form-text text-muted">
                <small>{{ field.help_text }}</small>
              </div>
            {% endif %}
        </div>
    {% endfor %}

    <div class="font-weight-bold mb-3">
        Prix total pour créer la mission : <span id="mission-total-cost"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">{{ submit_button_label }}</button>
    <a class="btn btn-danger" href="{% url 'mission-board' %}">Retour</a>
</form>