{% autoescape off %}

    <h3>
        Bonjour {{ user.first_name }} {{ user.last_name }},
    </h3>

    Vous avez fait une demande de réinitialisation de mot de passe sur le site {{ domain }}.

    Afin de modifier votre mot de passe, merci de cliquer sur le lien ci-dessous:
    <br><br>
    <a href="{{ protocol }}://{{ domain }}{% url 'pwd-reset' uidb64=uid token=token %}">Modifier mon mot de passe</a>
    <br><br>

    Si le clique sur le lien ci-dessus ne fonctionne pas, 
    vous pouvez copier et coller l'url dans un nouvel onglet de votre navigateur.

{% endautoescape %}