{% extends 'platform/index.html' %}
{% load static %}

{% block content %}

{% include 'platform/includes/header.html' %}

    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <div class="text-center">
                <h2 class="page-section-heading text-secondary mb-0 d-inline-block">Informations légales</h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>

            <div class="row flex-column justify-content-center align-items-center">
                <div class="col-md-8">
                    <ul>
                        <li><span class="font-weight-bold">Coordonées de l'hébergeur: </span><a href="https://www.digitalocean.com/" target="_blank">Digital Ocean</a></li>
                        <li><span class="font-weight-bold">Template Bootstrap par: </span><a href="https://startbootstrap.com/" target="_blank">Start Bootstrap</a></li>
                        <li><span class="font-weight-bold">Icones Font Awesome: </span><a href="https://fontawesome.com/" target="_blank">Font Awesome</a></li>
                        <li><span class="font-weight-bold">Code source: </span><a href="https://github.com/Guuzii/P13-partAge" target="_blank">Github</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
